@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap');

* {
    font-family: 'Tajawal', sans-serif;
}

.about h2 {
    color: #3d3c3c; 
    font-size: 28px;
    margin-bottom: 15px;
    text-transform: uppercase;
}




.courses-section h2 {
    text-align: right;
    direction: rtl; 
}
.courses h2 {
    text-align: right;
    direction: rtl;
}
.team {
    text-align: center;
    margin-top: 40px;
}

.team-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* البطاقة الرئيسية للفريق */
.team-card {
    background:#ffffff69;
    padding: 20px;
    border-radius: 12px;
    width: 420px; /* جعلها أوسع */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 3px solid rgba(34, 74, 195, 0.6); /* إطار أكثر وضوحًا */

    align-items: center;
}

.team-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.team-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-card h3 {
    color: #2e2e2e;
    margin-bottom: 8px;
}

.team-card p {
    color: #353434;
    font-size: 14px;
}

.sub-team {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap; /* يسمح للباقات بالنزول عند الحاجة */
}

.sub-card {
    background: rgba(37, 45, 186, 0.397);
    padding: 10px;
    border-radius: 15px;
    width: 180px; /* تصغير العرض لتكون جنب بعض */
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: 3px solid rgba(34, 74, 195, 0.6);


}

.sub-card:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

.sub-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.sub-card h4 {
    font-weight: bold; /* جعله أكثر وضوحًا */

    font-family: 'Tajawal', sans-serif;     margin: 0;
    font-size: 23px;
    color: #1c1c1c;
}

.sub-card p {
    margin: 10px 0 0;
    font-weight: bold; /* جعله أكثر وضوحًا */

    font-family: 'Tajawal', sans-serif; /* ضبط نوع الخط */
    font-size: 15px; /* تكبير الخط */
    color: #333; /* لون أغمق قليلاً */
}

