
button {
    background: linear-gradient(135deg, #1565c0, #1e88e5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    transition: all 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}



#result {
    margin-top: 20px;
    padding: 18px;
    background-color: #263238;
    color: #e0e0e0;
    border-radius: 10px;
    display: none;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.result-card {
    background: linear-gradient(135deg, #1e88e5, #1565c0);
    color: white;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.result-card h3 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: bold;
}

.result-card p {
    font-size: 1.2rem;
    margin-top: 12px;
    line-height: 1.5;
    
}

a {
    color: #64b5f6;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
#coursesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.course-card {
    background: #099afb3a;
    color: #343434;  
    border-radius: 15px;
    padding: 20px;
    width: 280px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s, box-shadow 0.3s, border 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 3px solid rgba(34, 74, 195, 0.6); /* إطار أكثر وضوحًا */
    backdrop-filter: blur(10px);
}

.course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
    border: 3px solid rgba(61, 61, 61, 0.9); /* لون أقوى عند التمرير */
}


.enroll-btn {
    background: #1e1e1e; 
    border: 2px solid #1565c0; 
    color: white; 
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
    transition: background 0.3s, color 0.3s;
}

.enroll-btn:hover {
    background: #1565c0;
    color: white;
}

.inf {
    font-family: '', sans-serif;
    color: #515151; 
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
    background: none; 
    border: none; 
    padding: 0; 
    cursor: pointer;

}
.inf:hover  {
    color: #0056b3; 
    opacity: 1; 
    transform: scale(1.01);}


.search-section {
    text-align: center;
    margin: 20px 0;
}

#searchInput {
    width: 60%;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #007bff;
    border-radius: 8px;
    outline: none;
    text-align: right; 
    color: #000000; 
    background-color: #368cd86b;
    transition: 0.3s;
}

#searchInput:focus {
    border-color: #0056b3;
    box-shadow: 0 0 8px rgba(0, 91, 187, 0.5);
    color: #000000; 
    background-color: #d7d7d7; 
}

#searchInput::placeholder {
    color: #000000; 
    text-align: right; 
}
